header {
    height: 15%;
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: flex-end;
}

.profile-icon {
    height: 200px;
    width: 200px;
    border: 5px solid black;
    border-radius: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.profile-head {
    height: 40%;
    width: 30%;
    border: 5px solid black;
    border-radius: 100%;
    background-color: var(--primary-color);
}

.profile-body {
    height: 60%;
    width: 70%;
    border: 5px solid black;
    border-radius: 100%;
    background-color: var(--primary-color);
}

.site {
    height: 1800px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.box-grid-container {
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.box-grid {
    margin-top: 5%;
    width: 100vw;
    height:80vh;
    display: flex;
    justify-content: space-around;
}

.column {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: space-between;
}

.row {
    width: 100%;
    height: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.row:first-child / .row:last-child{
    padding: 5px;
    margin: 5px;
}

.headline-row {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
}

.box {
    background-color: var(--primary-color);
    height:50%;
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    color:white;
    border-radius: 15px;
}

.box-invisible {
    height:100px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    background-color: var(--icon-backdrop-color);
    box-shadow: var(--default-shadow);
    border-radius: 100%;
}

footer {
    position: fixed;
    bottom: 0px;
    height: 15%;
    max-height: 150px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-color: var(--primary-color);
}
.outline {
    position: relative;
    top: -80px;
    height: 160px;
    width: 160px;
    background-color: white;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.plus-symbol {
    height: 120px;
    width: 120px;
    background-color: var(--primary-color);
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
}
