<div>
    <h1>Test Titel</h1>

    <h1>Themengebiet</h1>

    <form>
        TestText <input type="text" name="fname"><br>
        <input type="submit" value="Submit">
      </form> 

    <h1>Level</h1>

    <h1>Gruppe</h1>

    <h2>maximale Größe</h2>

</div>