<div class="container">
  <form style="height: 100vh;" method="POST">

      <h1 class="isLeftText">Themengebiet</h1>

      <input type="text" name="topicName"><br>

      <h1 class="isLeftText">Level</h1>

      <div class="radioGroup">
          <label class="radioContainer">
              <input class="isRadioButton" type="checkbox" id="levelRadio1" name="levelRadio1" checked="checked">
              <span class="checkStatus"></span>
          </label>

          <label class="radioContainer">
              <input class="isRadioButton" type="checkbox" id="levelRadio2" name="levelRadio2" checked=false>
              <span class="checkStatus"></span>
          </label>

          <label class="radioContainer">
              <input class="isRadioButton" type="checkbox" id="levelRadio3" name="levelRadio3" checked=false>
              <span class="checkStatus"></span>
          </label>

          <label class="radioContainer">
              <input class="isRadioButton" type="checkbox" id="levelRadio4" name="levelRadio4" checked=false>
              <span class="checkStatus"></span>
          </label>

          <label class="radioContainer">
              <input class="isRadioButton" type="checkbox" id="levelRadio5" name="levelRadio5" checked=false>
              <span class="checkStatus"></span>
          </label>
      </div>

      <h1 class="isLeftText">
          Maximale Gruppengröße
      </h1>
      <input type="number" min="2" step="1" name="maxGroupSize" input="2"><br>


      <button class="submitButton whiteText" type="submit" name="submitTopic" value="submitTopic">Weiter</button>

  </form>


  <script>

      window.onload = function () {

          for (let i = 1; i <= 5; i++) {

              document.getElementById("levelRadio" + i).addEventListener('input', () => {
                  fillLevelsTo(i)
              });
          }

      }

      function fillLevelsTo(clickedLevel) {

          for (let i = 1; i <= 5; i++) {
              console.log(i);

              if (i <= clickedLevel) {
                  document.getElementById("levelRadio" + i).checked = "checked";
              } else {
                  document.getElementById("levelRadio" + i).checked = false;
              }
          }

      }

  </script>



</div>