<div>
    <div class="title"><%= group.topicName %></div>
    <div class="box">
        <p class="subtitle">Experten</p>
        <div class="columns is-mobile">
            <% for(const expert of group.experts ) { %>
            <div class="column is-3">
                <img src="/img/user-solid.svg"
                    style="min-width:30px; width:15%; margin-left:auto; margin-right:auto; display:block;">
                <p style="text-align: center;"><%= expert.fullName() %></p>
            </div>
            <% } %>
        </div>
        <p class="subtitle">Mitglieder</p>
        <div class="columns is-mobile" style="justify-content:space-around">
            <% for(const member of group.members ) { %>
            <div class="column is-3">
                <img src="/img/user-solid.svg"
                    style="min-width:30px; width:15%; margin-left:auto; margin-right:auto; display:block;">
                <p style="text-align: center;"><%= member.fullName() %></p>
            </div>
            <% } %>
        </div>
    </div>


    <div class="site-container">
        <header>
            <div class="headline">
                <h1>Gruppenübersicht</h1>
            </div>
        </header>
        <div class="chat-container">
            <div class="chat">
                <div class="message-row own">
                    <div class="message">
                        <div class="messageText whiteText">Hallo Leute</div>
                    </div>
                </div>

                <div class="message-row other">
                    <div class="message">
                        <div class="messageText">Willkommen in der Gruppe</div>
                    </div>
                </div>

                <div class="message-row other">
                    <div class="message">
                        <div class="messageText">ICH LIEBE THERMODYNAMIK</div>
                    </div>
                </div>

                <div class="message-row own">
                    <div class="message">
                        <div class="messageText whiteText">Wann treffen wir uns?</div>
                    </div>
                </div>

                <div class="message-row other">
                    <div class="message">
                        <div class="messageText">Diese App hat doch dieses coole Doodle Feature</div>
                    </div>
                </div>

                <div class="message-row own">
                    <div class="message">
                        <div class="messageText whiteText">Stimmt, die hat ja echt alles!</div>
                    </div>
                </div>

                <div class="message-row other">
                    <div class="message">
                        <div class="messageText">Beste App!! 😍😍</div>
                    </div>
                </div>

                <div class="message-row other">
                    <div class="message">
                        <div class="messageText">Und wo treffen wir uns?</div>
                    </div>
                </div>

                <div class="message-row own">
                    <div class="message">
                        <div class="messageText whiteText">Gute Frage!</div>
                    </div>
                </div>

                <!-- <div class="message-row other">
                    <div class="message">
                        <p>Ich lerne immer ganz gerne im Grotrian</p>
                    </div>
                </div>

                <div class="message-row other">
                    <div class="message">
                        <p>GROTRIAN?? WTF ist mit dir falsch gelaufen</p>
                    </div>
                </div>

                <div class="message-row own">
                    <div class="message">
                        <p>Also Grotrian ist auch nicht so meins</p>
                    </div>
                </div>

                <div class="message-row other">
                    <div class="message">
                        <p>Da hat mir ein Obdachloser mal die Lernmaterialien geklaut :(</p>
                    </div>
                </div>

                <div class="message-row own">
                    <div class="message">
                        <p>Lol!</p>
                    </div>
                </div> -->



            </div>
        </div>

        <div class="aboveMyFooter">
            <div class="files-and-input-container">
                <div class="chat-input-container">
                    <!--<form class="chat-input-form" action="" method="">-->
                    <input type="text" name="" value="" class="chat-input">
                    <!--</form>-->
                </div>
                <div class="files-button-container">
                    <div class="files-button">
                        Dateien
                    </div>
                </div>
            </div>

            <div class="myfooter">
                <div class="doodle-outline">
                    <div class="doodle-button">
                        <img src="/icons/termine.svg" alt="">
                    </div>
                </div>
                <div class="chat-outline">
                    <div class="chat-button">
                        <img src="/icons/chat.svg" alt="">
                    </div>
                </div>
                <div class="tutor-outline">
                    <div class="tutor-button"">
                    <img src="/icons/tutor.svg" alt="">
                    </div>
                </div>
            </div>
        </div>

        <script type="text/javascript">
            let chat = document.getElementsByClassName("chat")[0];
            let input = document.getElementsByClassName("chat-input")[0];
            let inputForm = document.getElementsByClassName("chat-input-form")[0];

            let sendMessage = (message, origin) => {
                let element = "<div class = 'message-row origin'><div class = 'message'><div  class='messageText whiteText'>placeholder</div></div></div>";
                element = element.replace("origin", origin);
                element = element.replace("placeholder", message);
                chat.innerHTML += element;
            }

            input.onkeydown = function (event) {
                if (event.keyCode == 13) {
                    sendMessage(input.value, 'own');
                    input.value = "";
                }
            }


        </script>
    </div>



</div>
