<form method="POST">
    <div class="buttons">
        <button class="button is-success" name="JOIN" value="<%= group.id %>" type="submit">Beitreten</button>
        <button class="button is-danger" name="REJECT" value="<%= group.id %>" type="submit">Ablehnen</button>
    </div>
</form>