<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
    <link rel="stylesheet" href="css/style.css">
    <title>Document</title>
</head>

<body>
    <div class="container">
        <div id="user_icon">
            ICON
        </div>
    </div>
    <div class="section">
        <div class="columns is-mobile">
            <div class="column">
                <h2 style="color: black;">Fähigkeiten</h2>
                <div class="box colored-box">PENIS</div>
                <div class="box colored-box">PENIS</div>
                <div class="box empty-box">PENIS</div>
            </div>
            <div class="column">
                <h2 style="color: black;">Interessen</h2>
                <div class="box empty-box">PENIS</div>
                <div class="box colored-box">PENIS</div>
                <div class="box colored-box">PENIS</div>
            </div>
        </div>
    </div>

    <div class="footer" style="background:var(--primary-color);">
        <a style="display:block; margin-left: auto; margin-right:auto; width: 10%; text-align:center;" href="#">+</a>
    </div>
</body>

</html>