<div class="site">
    <header>
        <div class="profile-icon">
            <div class="profile-head">

            </div>
            <div class="profile-body">

            </div>
        </div>
    </header>
    <div class="box-grid-container">
        <div class="box-grid">
            <div class="column">
                <div class="headline-row">
                    <h1>Fähigkeiten</h1>
                </div>
                <div class="row">
                    <div class="box colored-box" id="spanish">
                        Spanisch
                    </div>
                </div>
                <div class="row">
                    <div class="box colored-box">
                        Programmieren
                    </div>
                </div>
                <div class="row">
                    <div class="box-invisible">
                        <h1>+</h1>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="headline-row">
                    <h1>Interessen</h1>
                </div>
                <div class="row">
                    <div class="box-invisible" id="spanish2">
                        <h1>+</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="box colored-box">
                        Kochen
                    </div>
                </div>
                <div class="row">
                    <div class="box colored-box">
                        App-Dev
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <div class="outline">
            <div class="plus-symbol">
                +
            </div>
        </div>
    </footer>
</div>