<div class="site">
    <header>
        <div>
            <img src="/icons/user.svg" alt="" style="scale: 1; position: relative; top:00px; width: 100px;">
        </div>
    </header>
    <div class="box-grid-container">
        <div class="box-grid">
            <div class="column">
                <div class="headline-row">
                    <h1>Fähigkeiten</h1>
                </div>

                <div class="row">
                    <div class="topicBox colored-box" id="spanish">
                        Spanisch
                    </div>
                </div>
                <div class="row">
                    <div class="topicBox colored-box">
                        App-Entwicklung
                    </div>
                </div>
                <!-- <div class="row">
                    <div class="box-invisible">
                        <h1>+</h1>
                    </div>
                </div> -->

                <% for(const topic of topics) { %>
                <% if (topic.goalLevel > 0) { %>
                <div class="row">
                    <div class="topicBox colored-box" id="<%= topic.name %>">
                        <%= topic.name %>
                    </div>
                </div>
                <% } else { %>
                <div class="row">
                    <div class="box-invisible">
                        <h1>+</h1>
                    </div>
                </div>
                <% } %>
                <% } %>
            </div>
            <div class="column">
                <div class="headline-row">
                    <h1>Interessen</h1>
                </div>

                <div class="row">
                    <div class="box-invisible" id="spanish2">
                        <h1>+</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="topicBox colored-box">
                        App-Entwicklung
                    </div>
                </div>
                <!-- <div class="row">
                        <div class="topicBox colored-box">
                            Kochen
                        </div>
                    </div> -->

                <% for(const topic of topics) { %>
                <% if (topic.expertLevel > 0) { %>
                <div class="row">
                    <div class="topicBox colored-box" id="<%= topic.name %>">
                        <%= topic.name %>
                    </div>
                </div>
                <% } else { %>
                <div class="row">
                    <div class="box-invisible">
                        <h1>+</h1>
                    </div>
                </div>
                <% } %>
                <% } %>

            </div>
        </div>
    </div>
    <footer>
        <div class="outline">
            <div class="plus-symbol">
                <a href="/topic/create/" style="background-color: transparent; color:white;">+</a>
            </div>
        </div>
    </footer>
</div>