<h1>
   <h1>Zukunftsausblick</h1>

   <div class="box" id="vision-box" style = "margin: 50px"> 
      <ul style = "padding: 50px">
         <li class = "vision-li-main">User-Management</li>
         <li><ol>
            <li class="vision-li-sub">Abfrage der TU-Mailadresse</li>
         </ol></li>
         <li class = "vision-li-main">Experten-Funktion</li>
         <li><ol>
            <li class = "vision-li-sub">Bewertungsfunktion für Experten</li>
            <li class = "vision-li-sub">Punktesystem, um Geben und Nehmen zu fördern</li>
         </ol></li>
         <li class = "vision-li-main">Organisation von Lehrmaterialien und Wissen</li>
         <li><ol>
            <li class = "vision-li-sub">Anlegen von Notizen, Karteikarten, offenen Fragen, ...</li>
            <li class = "vision-li-sub">Hinterlegen von Vorlesungsmaterialien: Skripte, Foliensätze</li>
         </ol></li>
      </ul>
   </div>
</div>